body {
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #ffffff;
    background: #427946;
    font-family: cursor, monospace;
    overflow-x: hidden;
  }
  ::selection {
    color: #211830;
    background-color: #427946;
  }
  ::-moz-selection {
    color: #211830;
    background-color: #427946;
  }
  textarea {
    left: -1000px;
    position: absolute;
  }
  b {
    font-weight: bold;
    text-decoration: underline;
  }
  /* Cursor Start */
  .cursor {
    font-size: 12px;
    color: #73ABAD;
    background-color: #73ABAD;
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #command {
    cursor: text;
    height: 50px;
    color: #ffffff;
  }
  #liner {
    line-height: 1.3em;
    margin-top: -2px;
    animation: show 0.5s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
  }
  #liner::before {
    color: #ffffff;
    content: "term@LUA:~$";
  }
  #liner.password::before {
    content: "Password:";
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Cursor End */
  p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
  }
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  .margin {
    margin-left: 20px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .index {
    color: #ffffff;
  }
  .color2 {
    color: #f0f0f0;
  }
  .command {
    color: #fcfcfc;
    text-shadow: 0 0 5px #ffffff; 
  }
  .command1 {
    color: #a2ad73;
    text-shadow: 0 0 5px #ad9f73; 
  }
  .command2 {
    color: #f5f5f5;
    
  }
  .command3 {
    color: #fda9da;
    text-shadow: 0 0 5px #cc8dce; 
  }
  .command3 {
    color: #fda9da;
    text-shadow: 0 0 5px #cc8dce; 
  }
  .command4 {
    color: #6ba174;
    text-shadow: 0 0 5px #537c5c; 
  }
  .error {
    color: #B89076;
  }
  .white {
    color: #fff;
  }
  .inherit,
  a {
    color: #9C8394;
  }
  a {
    text-decoration: inherit;
  }
  a:hover {
    background: #d6d6d6;
    color: #211830;
  }
  a:focus {
    outline: 0;
  }

  #container { left:100px; top:100px; width:500px }
#handle { border:1px solid black; height:40px, width:100%; background-color:lightblue; cursor:move; pointer:move}
iframe { width:100%; border:0 }

#floatwindow {
    top: 1em;
    right: 1em;
    position: absolute;
    z-index: 9;
    border-radius: 25px;
    border: 2px solid #ffffff;
    background-color: #f5f5f5;
    border: 1px solid #ffffff;
    text-align: center;
  }
  
  #floatheader {
    top: 1px;
    right: 1px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    cursor: move;
    z-index: 10;
    background-color: #ffffff;
    color: #ffffff;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.4;
}
